<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723367478518-6l090018gp8ft3nvaf4dfcd57qk4mp6c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723367478518-6l090018gp8ft3nvaf4dfcd57qk4mp6c</string>
	<key>API_KEY</key>
	<string>AIzaSyD_My5SRpxDFbZGh8LpG16hj1Eq11dU0AQ</string>
	<key>GCM_SENDER_ID</key>
	<string>723367478518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>swashbuckle.Spreadly</string>
	<key>PROJECT_ID</key>
	<string>spreadly-core</string>
	<key>STORAGE_BUCKET</key>
	<string>spreadly-core.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723367478518:ios:d0e748dbecfe65af3198d7</string>
	<key>DATABASE_URL</key>
	<string>https://spreadly-core.firebaseio.com</string>
</dict>
</plist>